.dark-background { color: #2B2B2B; }
.medium-background { color: #323232; }
.light-background { color: #3C3F41; }
.orange { color:#CC7832; }
.purple { color: #9876AA; }

html {
    color: white;
    background-color: #222;
    background: linear-gradient(to bottom, #333 0%, #111 100%) no-repeat;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}

/* Scale & Rhythm @ http://lamb.cc/typograph/ */
body { font-size:105%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:4.27273em; margin:1.25em 0 0 0; }
h2 { font-size:1.75em; margin:1.51786em 0 0 0; }
h3 { font-size:1.33333em; margin:1.25em 0 0 0;}

.fork-me {
    position: absolute; top: 0; left: 0; border: 0;
}

.logo {
    font-family: sans-serif;
    box-sizing: content-box;
    margin: 0 .5em 0 -1.75em;
    font-size: 0.5em;
    width: 1.75em;
    height: 1.75em;
    line-height: 1.75em;
    color: #9876AA;
    font-weight: 200;
    border: 3px solid;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
}

.logo:before {
    content: "f(x)";
}

body {
    margin: 0 20px 100px;
}

@media screen and (min-width: 1050px) {
    body {
        margin: 0 auto 100px;
        width: 1024px;
    }
}

a, a:hover, a:visited, a:active, a:focus {
    color: #a782bb;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.motivation > p {
    margin: 1em 3em;
    font-size: 105%;
    text-indent: 2em;
    text-align: justify;
}

code {
    overflow: auto;
    overflow-y: hidden;
    background-color: #323232;
    font-family: Menlo, Monaco, monospace;
}

pre > code {
    display: block;
    padding: 15px 20px;
    font-size: 100%;
}

header {
    text-align: center;
}

header p {
    font-size:1.75em; margin: 0.5em 0 1.51786em 0;
}

blockquote > p {
    font-style: italic;
    text-align: justify;
}

blockquote > p:before {
    content: "\f10d";
    font-family: FontAwesome;
    padding-right: .5em;
}

blockquote > p:after {
    content: "\f10e";
    font-family: FontAwesome;
    padding-left: .5em;
}

.button {
    padding: 15px;
    color: white;
    font-weight: bold;
    background-color: #8F6FA0;
    background-image: linear-gradient(top, #A07CB3, #826591);
    font-size:1.33333em;
    border-radius: 12px;
    display: inline-block;
    box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
    color: white;
    text-decoration: none;
    background-color: #A07CB3;
    background-image: linear-gradient(top, #AF88C4, #8F6FA0);
}

/* Fix Chrome bug */
body  .button {
    color: #ffffff;
}


.ruby {
    background-color: #CC342D;
    background-image: linear-gradient(top, #E03931, #B42E28);
}

.ruby:hover {
    background-color: #E03931;
    background-image: linear-gradient(top, #F43E35, #CC342D);
}

.objective-c {
    background-color: #BBB;
    background-image: linear-gradient(top, #CCC, #AAA);
}

.objective-c:hover {
    background-color: #CCCCCC;
    background-image: linear-gradient(top, #DEDEDE, #BBB);
}

.google-groups {
    background-color: #3B72D0;
    background-image: linear-gradient(top, #407CE3, #3668BE);
}

.google-groups:hover {
    background-color: #407CE3;
    background-image: linear-gradient(top, #4586F5, #3B72D0);
}

.stackoverflow {
    background-color: #DE792D;
    background-image: linear-gradient(top, #EC8130, #DF7A2D);
}

.stackoverflow:hover {
    background-color: #EC8130;
    background-image: linear-gradient(top, #FE8B34, #DE792D);
}

nav > a {
    margin: 0 20px 20px 0;
}

body > section {
    margin-bottom: 50px;
}

menu {
    margin: 1.5em 0 6em 0;
    padding: 0;
    position: relative;
}

.features menu{
    height: 39em;
}

.resolver menu{
    height: 23em;
}

menu h4, menu section {
    display: inline;
}

menu label {
    font-weight: bold;
    font-size: 1.2em;
    box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.2);
    border-bottom-color: transparent;
    border-radius: 12px 12px 0 0 ;
    padding: 10px;
    background-color: #8F6FA0;
    background-image: linear-gradient(top, #A07CB3, #826591);
    color: #fff;
}

menu label:hover {
    cursor: pointer;
    background-color: #A07CB3;
    background-image: linear-gradient(top, #AF88C4, #8F6FA0);
}

menu input {
    display: none;
}

menu > section > section {
    display: none;
}

menu input:checked + label {
    background-color: #2B2B2B;
}

menu input:checked ~ section {
    display: block;
    position: absolute;
    top: 2em;
    background-color: #2B2B2B;
    width: 100%;
    height: 100%;
    padding: 15px;
}



code .literal{
    color:#6897BB;
}

/*     color: #FFC66D; */

code .keyword{
    color: #CA7631;
}

code .quote {
    color: #9DB85C;
}

code .comment {
    color: #808080;
}

code .field {
    color: #8F6FA0;
}

code .literal,
code .keyword,
code .constant,
code .quote {
    font-weight:bold;
}

dl {
    box-sizing: border-box;
}

dt {
    width: 50%;
    font-weight: bold;
    float: left;
}

dd {
    width: 50%;
    float: left;
}

dl, dt, dd, dl ul, dl li {
    margin: 0;
    padding: 0;
    list-style: none;
}






