@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

.dark-background {
    color: #2B2B2B;
}

.medium-background {
    color: #323232;
}

.light-background {
    color: #3C3F41;
}

.orange {
    color:#CC7832;
}

.purple {
    color: #9876AA;
}

html {
    color: white;
    background: #000000 linear-gradient(to bottom, #45484d 0%, #000000 100%) no-repeat;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 1024px;
}

a, a:hover, a:visited, a:active, a:focus {
    color: #9876AA;
}

code {
    background-color: #323232;
    font-family: monospace;
}

pre > code {
    display: block;
    padding: 15px 20px;
}

h1 {
    text-align: center;
}



/* Scale & Rhythm @ http://lamb.cc/typograph/ */
body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:3em; }
h1, h3 { margin:1.25em 0; }
h2 { font-size:1.75em; margin:1.51786em 0; }
h3 { font-size:1.33333em; }

