<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'/>
    <meta http-equiv="X-UA-Compatible" content="chrome=1"/>
    <link href='//fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="font-mfizz/font-mfizz.css"/>
    <title>TotallyLazy</title>

</head>

<body>
    <header>
        <h1><i class="logo"></i>TotallyLazy</h1>
        <p>A complete functional environment for Java</p>
        <a href="https://github.com/bodar/totallylazy/"><img class="fork-me" src="fork.me.on.github.png" alt="Fork me on GitHub"></a>
    </header>

    {{ content }}

    <script type="text/javascript" src="code.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55965038-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');

    </script>

</body>
</html>

